.hidden {
    display: none;
}



body, p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
 }

header {
    margin-top: 15px;
    padding-bottom: 10px;
}


.box {
    background-color: rgb(98, 98, 98);
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-img {
    background-color: rgb(168, 168, 168);
    height: 600px;
    align-content: center;
}

.block-img p {
    margin-bottom: 20px;
}

#heading-box {
    margin-top: 300px;
    margin-bottom: 20px;
}

.block-cards {
    height: 470px;
    background-color: rgb(121, 121, 121);
    padding-bottom: 30px;
}

.block-cards-2 {
    height: 470px;
    background-color: rgb(121, 121, 121);
}

.square {
    height: 160px;
    margin-top: 20px;
}

.heading {
    margin-top: 30px;
    text-align: center;
    line-height: 1;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p {
    color: #1a1a1a;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-weight: 600;
}

#tall {
    height: 300px;
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cont .box {
    height: 70px;
}

.tab, .desktop {
    display: none;
}


@media screen and (min-width: 768px) {
    .box {
        height: 80px;
    }

    .tab {
        display: flex;
    }
    

    .square {
        height: 200px;
    }

    .block-cards {
        height: 900px;
    }

    .mob {
        display: none;
    }

    /* .block-cards {
        height: 600px;
    } */
    .block-cards .square {
        height: 250px;
    }
}

@media screen and (min-width: 1200px) {
    .desktop {
        display: flex;
    }

    .block-cards .tall-img {
        height: 500px;
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }


    .block-cards {
        height: 1200px;
    }

    .desktop-none {
        display: none;
    }

    .button {
        height: 70px;
        background-color: #1a1a1a;
        padding: 5px 100px;
        margin-top: 30px;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }
}